<!DOCTYPE html>
<html ng-app="Flatcasts">
<head>
  <title>Flatcasts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>
<%= yield %>
<div class="container">
  <div ui-view></div>
</div>
<script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>
