<!DOCTYPE html>
<html ng-app="Flatcasts">
<head>
  <title>Flatcasts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="flatback">
  <%= render 'layouts/navigation' %>
  <!-- <%= yield %> -->
  <div ui-view>
    <% if current_user %>
      <script>
        var current_user = <%= raw current_user.to_json  %>
      </script>
    <% else %>
    <script>
      var current_user = null
    </script>
    <% end %>
  </div>
</div>
<footer class="col-md-12 text-center">
  <small>&copy; 2016 Developed by <a href="http://www.brianemory.com">Brian Emory</a> for my fellow <a href="http://www.flatironschool.com" target="_blank">Flatiron School</a> students</small>
</footer>

<script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>
